/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #111;
}

/* NAVBAR */
.navbar {
  background-color: #111 !important;
}

.navbar-brand {
  color: #f705a6 !important;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #f705a6 !important;
}

/* HEADER */
header {
  background-color: #f705a6;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

/* BUTTONS */
.btn-primary {
  background-color: #f705a6 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #d9048f !important;
}

/* CARDS */
.card {
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* GALLERY */
.gallery img:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background-color: #111;
  color: #f705a6;
  text-align: center;
  padding: 15px;
}